<div class = "container">
        <h1 class = "header">Films</h1>

            <div *ngFor="let movie of movies" class = "movie-card">
                <img src="{{movie.poster_image_url}}" alt="movie image">
                <div class = "description">
                    <h3 class = "movie-title">
                        <a [title]="movie.title + ' details'"
                        [routerLink]="['/movies', movie.id]">
                        {{ movie.title }}
                        </a>
                    </h3>

                    <p *ngIf="movie.average_rating" class="rating">
                        Rating: {{movie.average_rating}} / 10
                    </p>
        </div>   
    </div>
</div>
