.movie-details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .poster-section {
    flex: 1;
    max-width: 25%;
  }
  
  .poster-section img {
    max-width: 100%;
    height: auto;
  }
  
  .details-section {
    flex: 1;
    max-width: 50%;
    padding: 0 20px;
  }
  
  .title-description {
    display: flex;
    flex-direction: column;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
  }
  
  .info-section {
    flex: 1;
    max-width: 25%;
  }
  
  @media (max-width: 768px) {
    .movie-details-container {
      flex-direction: column;
      align-items: center;
    }
  
    .poster-section, .details-section, .info-section {
      max-width: 100%;
    }
  }