<div *ngIf="movie" class="movie-details-container">
  <div class="poster-section">
      <img [src]="movie.poster_image_url" alt="Movie Poster">
  </div>

  <div class="details-section">
      <h1>{{ movie.title }}</h1>
      <p>{{ movie.description }}</p>
      <div class="info-section">
          <ul>
              <li><strong>Release Date:</strong> {{ movie.release_date | date }}</li>
              <li><strong>Duration:</strong> {{ movie.duration }} minutes</li>
              <li><strong>Rating:</strong> {{ movie.average_rating }}</li>
          </ul>
      </div>
      <button mat-button color="primary" (click)="toggleRateForm()">Rate</button>
      <div *ngIf="showRateForm" class="rate-form">
          <h2>Rate this movie</h2>
          <div class="form-group">
              <label for="username">User :</label>
              <input type="text" id="username" name="username" [(ngModel)]="username">
          </div>

          <div class="form-group">
              <label for="score">Score:</label>
              <input type="number" id="score" name="score" [(ngModel)]="score" min="1" max="10">
          </div>

          <button (click)="submitRating()" class="btn btn-primary">Submit</button>
      </div>
  </div>
</div>
