<body>
  <header>
      <nav class = "navbar">
        <a href="#" class = "logo">FilmFlow</a>
        <ul class = "menu-links">
          <li><a routerLink="/movies">Top Movies</a></li>
          <li><a routerLink="/genres">Genres</a></li>
          <li><a routerLink="/popular">Most Popular</a></li>
          <li><a routerLink="/companies">Companies</a></li>
        </ul>
      </nav>
  </header>

  <section class = "hero-section">
    <div class="content">
      <h1>Experience the immersive world of cinematography like never before with FilmFlow</h1>
      <button>Watch now!</button>
    </div>

  </section>

</body>