
<body>
  <div class="wrapper">
    <form action="">
      <h1>Login</h1>
      <div class="input-box">
        <input type="text" name = "username" placeholder="username" [(ngModel)]="loginObj.username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" name = "password" placeholder="password" [(ngModel)]="loginObj.password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <button type="submit" class="btn" (click)="onLogin()">Login</button>
    </form>
  </div>
</body>
